

<h1>hello</h1>

 <table className='table table-striped' aria-labelledby="tabelLabel">
                <thead>
                    <tr>
                        <th>Skrót</th>
                        <th>Nazwa</th>
                        <th>Średni kurs</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                @*    {currents.map(current =>
                        <tr key={current.code + current.effectiveDate}>
                            <td>{current.code}</td>
                            <td>{current.currency}</td>
                            <td>{current.mid}</td>
                            <td>{new Date(current.effectiveDate).toLocaleDateString()}</td>
                        </tr>
                    )}*@
                </tbody>
            </table>